/* =============
TỐI ƯU KHI CODE
===============*/
* {
    box-sizing: border-box; /* Hỗ trợ căn chỉnh khối */
}

html,
body{
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* ====
Variable
======*/
:root {
    --primary-color: #1ebfc1;
    --title-color: #0d1111;
}

/* ====
COMMON
======*/
.main-content {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}
.title {
    color: var(--title-color);
    font-size: 4.2rem;
    font-weight: 700;
}

.btn {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    color: #fff;
    border-radius: 14px;
    background: var(--primary-color);
}

a {
    text-decoration: none;
}

.desc {
    font-size: 1.8rem;
}

/* ========= HEADER ========== */
.fixed {
    padding-top: 44px;
    position: sticky;
    top: -44px;
    background: #fff;
    z-index: 1;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.header .logo {
    /* margin-right: 235px; */
    margin-right: 20.1%;
}

.header .navbar .list {
    display: flex;
}

.header .navbar .item a {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 12px 19.5px;
    transition: all 0.3s;
}

.header .navbar .active,
.header .navbar .item a:hover {
    text-shadow: #2f3a3b 1px 0 0;
}

.header .navbar .action {
    margin-left: auto;
}

.header .navbar .sign-in {
    color: #494949;
    font-size: 1.6rem;
    transition: all 0.2s;
}

.header .navbar .sign-in:hover {
    color: var(--primary-color);
}

.header .navbar .sign-up {
    display: inline-block;
    padding: 15px 22px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 24px;
    transition: all 0.3s;
}

.header .navbar .sign-up:hover {
    background: var(--primary-color);
    color: #fff;
}

/* ========= HERO ========== */
.hero-wrap {
    padding: 42px 0 79px;
    /* background: orange; */
}

.hero-wrap .body {
    display: flex;
    align-items: center;
}

.hero-wrap .info .intro {
    color: #767e7e;
    font-size: 1.4rem;
    width: 458px;
}

.hero-wrap .info .title {
    color: var(--title-color);
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
    margin-top: 18px;
}

.hero-wrap .info .desc {
    color: #9da6a5;
    line-height: 1.78;
    width: 374px;
    margin-top: 46px;
}

.hero-wrap .info .desc span {
    white-space: nowrap;
}

.hero-wrap .info .action {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.hero-wrap .info .btn-hero {
    padding: 20px 41px 21px;
    margin-right: 50px;
    font-weight: 600;
    line-height: normal;
}

.hero-wrap .info .play:hover,
.hero-wrap .info .btn-hero:hover {
    opacity: 0.9;
}

.hero-wrap .info .play {
    width: 62px;
    height: 62px;
    background: #fff;
    border-radius: 50%;
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 15px 19px -18px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: 0px 15px 19px -18px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 15px 19px -18px rgba(0, 0, 0, 0.63);
}

.hero-wrap .images {
    position: relative;
}

.hero-wrap .images .banner-hero {
    width: 576px;
    height: 631px;
    object-fit: cover;
    background: #e4f7f6;
}

/* Courses */

.hero-wrap .images .courses,
.hero-wrap .images .schedules,
.hero-wrap .images .student {
    position: absolute;
}

.hero-wrap .images .courses {
    display: flex;
    align-items: center;
    bottom: 407px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    padding: 17px 25px 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-wrap .images .courses strong {
    position: relative;
    display: inline-block;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    width: 55px;
    line-height: normal;
}

.hero-wrap .images .courses img {
    position: relative;
    margin-right: 16px;
}

.hero-wrap .images .courses strong::before {
    position: absolute;
    top: 23px;
    left: -48px;
    display: block;
    content: "";
    width: 28px;
    height: 4px;
    border-radius: 999px;
    background: #fff;
}

/* Schedules */

.hero-wrap .images .schedules {
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 46px;
    left: -65px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-wrap .images .schedules strong {
    color: #0d1111;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
}

.hero-wrap .images .schedules .chart {
    margin-top: 16px;
    position: relative;
    width: 74px;
    height: 6px;
    border-radius: 999px;
    background: #edf1f5;
}

.hero-wrap .images .schedules .chart-1::before {
    position: absolute;
    content: "";
    width: 39px;
    height: 6px;
    border-radius: 999px;
    background: #fb9899;
}

.hero-wrap .images .schedules .chart-2 {
    margin-top: 12px;
}

.hero-wrap .images .schedules .chart-2::before {
    position: absolute;
    content: "";
    width: 51px;
    height: 6px;
    border-radius: 999px;
    background: #fb9899;
}

.hero-wrap .images .schedules .chart-3 {
    margin-top: 10px;
}

.hero-wrap .images .schedules .chart-3::before {
    position: absolute;
    content: "";
    width: 33px;
    height: 6px;
    border-radius: 999px;
    background: #fb9899;
}

.hero-wrap .images .schedules .chart-4 {
    width: 26px;
    margin-top: 16px;
}

/* Student */

.hero-wrap .images .student {
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-wrap .images .student .box {
    padding: 17px 35px;
}

.hero-wrap .images .student .list {
    display: flex;
    margin-top: 8px;
    margin-left: 7px;
}

.hero-wrap .images .student .list .item {
    margin-left: -7px;
}

.hero-wrap .images .student .list img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-wrap .images .student .list p {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 33px;
}

.hero-wrap .images .student p {
    display: inline-block;
    text-align: left;
}

.hero-wrap .images .student strong {
    text-align: left;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

/* ========= FEATURES ========== */
.features {
    margin-top: 65px;
}

.features .body {
    padding: 65px 0px;
}

.features .info {
    width: 50.1%;
}

.popular .info .intro,
.features .info .intro {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
    white-space: pre;
}

.features .info .title {
    line-height: 1.34;
    margin-top: 18px;
}

.features .info .desc {
    color: #767e7e;
    line-height: normal;
    margin-top: 18px;
}

/* Features */
.features .list {
    display: flex;
    margin-top: 80px;
}

.features .list h3 {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    margin-top: 26px;
}

.features .list .desc {
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69;
    margin-top: 16px;
}

.features .list .item-1 {
    width: 14.4%;
}

.features .list .item-2 {
    width: 19.1%;
    margin-left: 17.9%;
}

.features .list .item-3 {
    width: 19.2%;
    margin-left: 17.1%;
}

/* ========= POPULAR ========== */
.popular .body {
    padding: 65px 0 189px;
}

.popular .info .title {
    line-height: normal;
    margin-top: 18px;
}

.popular .info .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .info .desc {
    color: #767e7e;
    line-height: 1.78;
    margin-top: 19px;
    width: 44.9%;
}

.popular .info .view-all {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration: underline;
}

.popular .list {
    display: flex;
    gap: 47px;
    justify-content: space-between;
    margin-top: 79px;
}

.popular .list .item {
    width: calc(100% / 3);
    max-width: 100%;
    position: relative;
}

.popular .list .item .thumb {
    width: 359px;
    max-width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 359px;
    max-width: 100%;
    height: 393px;
    border-radius: 8px;
    background: rgba(208, 239, 237, 0.35);
}

.popular .list .item .box-price {
    position: absolute;
    bottom: -124px;
    left: 17px;
    width: 325px;
    max-width: 100%;
    padding: 18px 25px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular .list .item .box-price h3 {
    color: #0d1111;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}

.popular .list .item .price {
    color: #767e7e;
    font-size: 1.6rem;
    line-height: normal;
    margin-top: 16px;
}

.popular .list .item .price strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.popular .list .item .box-time p,
.popular .list .item .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    line-height: normal;
    margin-top: 6px;
}

.popular .list .item .box-time {
    display: flex;
    margin-top: 18px;
}

.popular .list .item .box-time p {
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-right: 10px;
}

.popular .list .item .box-time p::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    margin-right: 10px;
}

/* ========= STATS ========== */
.stats {
    margin-top: 135px;
}

.stats .body {
    padding: 65px 0px;
}

.stats .list {
    display: flex;
    justify-content: center;
}

.stats .list .item {
    text-align: center;
    margin-left: 200px;
}

.stats .list .item:first-child {
    margin-left: 0;
}

.stats .list strong {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.stats .list .desc {
    color: #767e7e;
    line-height: normal;
    margin-top: 11px;
}

/* ========= FEEDBACK ========== */
.feedback {
    margin-top: 134px;
}

.feedback .body {
    display: flex;
    justify-content: space-between;
    padding: 65px 0px;
}

.feedback .info {
    justify-content: center;
    padding: 37px 0;
    width: 50%;
}

.feedback .info blockquote .desc {
    width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 27px;
}

.feedback .info .author {
    display: inline-block;
    color: #767e7e;
    font-size: 1.6rem;
    line-height: normal;
    margin-top: 33px;
}

.feedback .info .author span::before {
    content: "-";
    margin-right: 5px;
}

.feedback .info .author span {
    color: #070707;
    font-weight: 500;
}

.feedback .info .controller {
    margin-top: 52px;
}

.feedback .info .controller button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}

.feedback .info .controller button:hover {
    opacity: 0.9;
}

.feedback .info .controller .next {
    margin-left: 30px;
}

.feedback .images {
    display: flex;
    width: 481px;
}

.feedback .images .avatar {
    margin: 123px 171px 123px auto;
}

.feedback .images .avatar-main {
    position: relative;
}
.feedback .images .avatar-0 {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .images .avatar-icon {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .images .avatar-1 {
    width: 92px;
    height: 92px;
    top: -107px;
    left: -129px;
}

.feedback .images .avatar-2 {
    width: 110px;
    height: 110px;
    top: -88px;
    right: -171px;
}

.feedback .images .avatar-3,
.feedback .images .avatar-4,
.feedback .images .avatar-5 {
    width: 78px;
    height: 78px;
}

.feedback .images .avatar-3 {
    bottom: 6px;
    left: -273px;
}

.feedback .images .avatar-4 {
    bottom: -139px;
    left: -61px;
}

.feedback .images .avatar-5 {
    bottom: -110px;
    right: -139px;
}

/* ========= Register ========== */
.register {
    margin-top: 69px;
    background: #def6f5;
}

.register .body {
    display: flex;
    align-items: center;
    padding: 76px 0 88px;
}

.register .info {
    width: 420px;
}

.register .info .title {
    color: #070707;
    line-height: normal;
}

.register .info .desc {
    color: #767e7e;
    line-height: normal;
    margin-top: 18px;
}

.register .btn {
    background: #2ac9bf;
    padding: 25px 41px;
    margin-left: 410px;
}

.register .btn:hover {
    opacity: 0.9;
}

/* ========= Footer ========== */
.footer {
    padding: 130px 0 50px;
}

.footer .row {
    display: flex;
}

.footer .column .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}

.footer .row .column:nth-child(4),
.footer .row .column:nth-child(3),
.footer .row .column:nth-child(2) {
    margin-left: 144px;
}

.footer .row .column:nth-child(5) {
    margin-left: auto;
}

.footer .link {
    color: #535353;
    font-size: 1.6rem;
    line-height: normal;
}

.footer .column-2 .list .item:first-child {
    margin-top: 25px;
}

.footer .column-2 .list .item:last-child,
.footer .column-2 .list .item:nth-child(2) {
    margin-top: 20px;
}

.footer .column-4 .list .item:first-child,
.footer .column-3 .list .item:first-child {
    margin-top: 26px;
}

.footer .column-5 .list .item,
.footer .column-4 .list .item:last-child,
.footer .column-3 .list .item:last-child,
.footer .column-3 .list .item:nth-child(2) {
    margin-top: 18px;
}

.footer .column-3 .list .item:nth-child(3) {
    margin-top: 21px;
}

.footer .column-5 .item {
    display: flex;
    align-items: center;
}

.footer .column-5 .item .icon {
    width: 20px;
    height: 20px;
    padding: 4px;
    margin-right: 9px;
}

.footer .row .copy-write {
    color: #b0b5b4;
    font-size: 1.8rem;
    line-height: normal;
}

.footer .row-2 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
